/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans Cyrl", sans-serif;
  color: #333333;
}

a {
  color: #6933dc;
}

/*=============== FONTS ===============*/
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl-500.ttf");
}

@font-face {
  font-family: "Museo Sans Cyrl Bold";
  src: url("../fonts/MuseoSansCyrl-700.ttf");
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.common-title {
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-size: 48px;
  line-height: 58px;
  color: #333333;
}

.common-title span {
  color: #6933dc;
}

/*=============== HEADER ===============*/
.header {
  padding: 42px 0 40px;
}

.button {
  padding: 14px 35px;
  background: #6933dc;
  border-radius: 6px;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
  border: 0;
  transition: 0.4s;
  cursor: pointer;
}

.button:hover {
  background: #32098a;
}

.button-transparent {
  background: transparent;
  color: #6933dc;
  border: 1px solid #6933dc;
}

.button-transparent:hover {
  background: #6933dc;
  color: white;
}

/*=============== MAIN ===============*/
.big-title {
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-size: 54px;
  line-height: 65px;
}

.big-title span {
  color: #6933dc;
}

/*=============== FOOTER ===============*/
.footer {
  text-align: center;
  padding: 40px 0;
  font-size: 13px;
  line-height: 16px;
  color: #dcdcf3;
}
